@model WareHouseMVC.Models.Department

@{
    ViewBag.Title = "Delete Departments";
}
<div class="pagetitle">
    <h1>
      Delete Departments  </h1>
    <span>Are you sure you want to delete this?</span>
</div>

@using (Html.BeginForm()) {
<table class="table table-bordered table-invoice">
    <tbody>

  <tr>
        <td class="width30">DepartmentName</td>
        <td>
        @Model.DepartmentName
        </td>
        </tr>

    

  <tr>
        <td class="width30">DepartmentCode</td>
        <td>
        @Model.DepartmentCode
        </td>
        </tr>

    

  <tr>
        <td class="width30">Client</td>
        <td>
        @Html.DisplayTextFor(_ => Model.Client.ClientName).ToString()
        </td>
        </tr>

    

 <tr>
         <td class="width30"></td>
        <td>
    <input type="submit" value="Delete" class="btn btn-danger" /> 
        </td>
        </tr>
		  </tbody>
        </table>
    <p>
       
      @Html.ActionLink("Back to List", "Index", "", new { @class = "btn" })
  
    </p>
}


