@model WareHouseMVC.Models.Warehouse
@{
    ViewBag.Title = "Add Ne Warehouse";
}
<div class="pagetitle">
    <h1>
       Add WareHouse </h1>
    <span>Add Warehouses below....</span>
</div>




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    @Html.Partial("_CreateOrEdit", Model)
    <table class="table table-bordered table-invoice">
        <tbody>
            <tr>
                <td  class="width30">
                
                </td>
                <td  class="width70">
                <input type="submit" value="Create" class="btn btn-primary" />
                </td>
            </tr>
        </tbody>
    </table>
}
<div>
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn" })
</div>
