@model IEnumerable<WareHouseMVC.Models.Height>

@{
    Layout = null;
    <select id="HeightID" name="HeightID">
    <option value="-1">Select...</option>
        @foreach (var item in Model)
        {
            
            <option value="@item.HeightID">@item.HeightName</option>
        }
    </select>
}
