@{
    ViewBag.Title = "Access Denied";
}


<div class="pagetitle">
    <h1>
     @ViewBag.Title</h1>
    <span>Sorry, but you don't have access to that page.</span>
</div>

<div>
<img src="../../Content/themes/base/images/access-denied.png"  style="margin: 0px auto;"/>
</div>

