@{
    ViewBag.Title = "IndexForClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>
        Welcome @User.Identity.Name</h1>
    <span>Your Dashboard....</span>
</div>
